<% if @users.blank? %>
  <h4>There are no users with name <%= params[:search] %>.</h4>
  <%= link_to "Go back", root_path %>
  <% else %>
  <% @users.each do |user| %>
  <p>
  <%= link_to user.first_name, user_path(user) %>
  <%= link_to 'Add Friend', friendships_path(:friend_id => user.id), :method => :post if !current_user.friendships.include?(Friendship.find_by(friend_id: user.id, user_id: current_user.id)) %>
  </p>
  <% end %>
<% end %>
