<% if @users.blank? %>
  <h4>There are no users with name <%= params[:search] %>.</h4>
  <%= link_to "Go back", root_path %>
  <% else %>
  <% @users.each do |user| %>
  <p>
    <table>
      <tr>
        <td><h4><%= link_to user.first_name, user_wishlists_path(user) %></h4></td>
        <td><h5><%= link_to 'Add Friend', friendships_path(:friend_id => user.id), :method => :post if current_user != user && !current_user.friendships.include?(Friendship.find_by(friend_id: user.id, user_id: current_user.id)) %></h5></td>
      </tr>
     </table>
  </p>
  <% end %>
<% end %>
