<h4>Your Friends</h4>
<% current_user.friendships.each do |friendship| %>
<p>
  <%= link_to friendship.friend.first_name, user_path(friendship.friend) %>
  <%= button_to 'Remove from friends', friendship, :method => :delete %>

</p>
<% end %>
