*{
  margin:0;
}

// pink color #eb1478

a:link, a:visited, a:hover, a:active {
    color: #a8a8a8;
  }

/* primary button */
.btn-primary {
     background-color: #eb1478;
     color: #fff;
     border-color: #eb1478;
 }
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active {
     background-color: #eb1478;
     color: #FFF;
     border-color: #eb1478;
 }

.home-page_center {
    padding: 10% 5%;
 }

h1, h2, h3, h4, h5, h6 {
    font-family:  Benton Sans Medium, Helvetica, sans-serif
}

p, div {
   font-family:  Benton Sans Medium, Helvetica, sans-serif
}

.navbar-brand {
  font-family: Permanent Marker, serif;
  font-size: 230%;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: #272625;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #eb1478;
}

/* BUTTONS */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #eb1478;
  border-color: #eb1478
}

/* FONTS */
.navbar-default .navbar-nav li  a:hover {
   font-size: 150%;
   color: #eb1478;
}

.navbar-default .navbar-nav li  a {

}

.user-name a {
  color: #282c37;
  font-size: 150%;
}

.gift-name a {
  color: #282c37;
  font-size: 120%;
}

.gift-receiving-name a {
   color: #52616a;
}

.glyphicon-ok:before {
  color: #eb1478;
}

.wishlist-name a {
  color: #eb1478
}

.gift-name-color {
  color: #ff7473
}

.alert {
  color: #eb1478;
}

.icon {
  display:block;
}

.glyphicon {
    font-size: 25px;
    padding: 0 10px 0 0;
}

.center-text {
  text-align: center;
}

.center-right {
  text-align: right;
}

.container-fluid {
  background-color: #ffffff
}
