$biruza: #7DE0E6;
$pink: #eb1478;


*{
  margin:0;
}

body {
  background-color: $biruza;
}

// pink color #eb1478

a:link, a:visited, a:hover, a:active {
    color: #000;
  }


/* sign in form */

#reg_form {
  width: 40vw;
  height: 350px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}


/* primary button */
.btn-primary {
     background-color: $pink;
     color: #fff;
     border-color: $pink;
 }
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active {
     background-color: #eb1478;
     color: #FFF;
     border-color: #eb1478;
 }

.home-page_center {
    padding: 10% 5%;
    text-align: center;
    width: 100%;
 }

 .wishlists_center {
   padding: 0;
   text-align: center;
   width: 100%;
 }

 #left-home, #right-home {
   display: inline-block;
   padding: 50px;
 }


h1, h2, h3, h4, h5, h6 {
    font-family:  Benton Sans Medium, Helvetica, sans-serif
}

p, div {
   font-family:  Benton Sans Medium, Helvetica, sans-serif
}

.navbar {
  border: none;
}

.navbar-brand {
  font-family: Permanent Marker, serif;
  font-size: 230%;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: #272625;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #eb1478;
}

/* BUTTONS */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #eb1478;
  border-color: #eb1478
}

.btn-link {
  color: #a8a8a8;
}

/* FONTS */
.navbar-default .navbar-nav li a {
  color: #fff;
  opacity: 0.8;
  letter-spacing: 2px;
  transition: transform .15s ease-out .15s,-webkit-transform .15s ease-out .15s;
}

/* table */

td {
  padding-right: 10px;
  height: 20px;
  width: 100px;
  vertical-align: bottom;
}

.user-name a {
  color: #282c37;
  font-size: 150%;
}

.gift-name a {
  color: #282c37;
  font-size: 120%;
}

.gift-receiving-name a {
   color: #52616a;
}

.glyphicon-ok:before {
  color: #eb1478;
}

.wishlist-name a {
  color: #eb1478
}

.gift-name-color {
  color: #ff7473
}

.alert {
  color: #eb1478;
}

.icon {
  display:block;
}

.glyphicon {
    font-size: 25px;
    padding: 0 10px 0 0;
}

.center-text {
  text-align: center;
}

.center-right {
  text-align: right;
}

.container-fluid {
  background-color: $biruza;
}

#delete-button {
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 3px 5px;
  color: #eb1478;
  background-color: #fff;
}
